/*estilos globales------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  text-align: center;
  font-family: sans-serif;
}

/*header--------------------------------------------------------------*/
.head {
  background-color: #101010;
}
.head .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head .menu .logo {
  color: #fffdfc;
  font-size: 25;
  font-weight: 800;
}
.head .menu .navbar ul li {
  list-style-type: none;
  position: relative;
  float: left;
}
.head .menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
  text-decoration: none;
}
.head .menu .navbar ul li a:hover {
  color: #ce9678;
}
.head .menu #menu {
  display: none;
}
.head .menu .menu-icono {
  width: 20px;
}
.head .menu label {
  cursor: pointer;
  display: none;
}

/*header del index---------------------------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh !important;
  background: url(../img/background_restaurant.jpg) no-repeat center;
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

p {
  margin-bottom: 40px;
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #9c27b0;
  color: #fff;
  text-decoration: none;
  background: #9c27b0;
}

.btn:hover {
  background: none;
}

.btn-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}

.content {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sau {
  padding: 30px;
  background: #1f1d1d;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.box-container .box {
  height: 11rem;
  width: 17rem;
  background: #101010;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: #9c27b0;
  font-size: 2rem;
  margin: 1rem 0;
}
.box-container .box h3 {
  font-size: 20px;
  color: #9c27b0;
}
.box-container .box p {
  font-size: 16px;
  padding: 0 15px;
}

.about {
  background: #171717;
}

.price {
  /*parece mejor forma de agregar una imagen a un contenedor, no rompe todo*/
  background: url(../img/background_restaurant.jpg) no-repeat center;
  /*attachment: fixed para que al escrolear la imagen se quede estatica de fondo*/
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact {
  padding-top: 20px;
  background: #171717;
  padding-bottom: 0;
}

/*productos stile-------------------------------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh !important;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}

.food {
  padding: 100px 0;
  background-color: #e1e2e6;
  position: relative;
}
.food .food_content {
  text-align: center;
}
.food .food_content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}
.food .food_content .txt-p {
  font-size: 16px;
  color: #414247;
  padding: 0 250px;
  margin-bottom: 35px;
}
.food .food_content .food_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.food .food_content .food_group .food_1 {
  padding: 0 25px;
}
.food .food_content .food_group .food_1 img {
  width: 200px;
}
.food .food_content .food_group .food_1 h3 {
  color: #323337;
  font-size: 25px;
  margin-bottom: 15px;
}
.food .food_content .food_group .food_1 p {
  padding: 0;
}

.services {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.services .services-content {
  text-align: center;
}
.services .services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.services .services-content p {
  font-size: 16px;
  color: #c5c5c5;
  margin-bottom: 50px;
  padding: 0 100px;
}
.services .services-content .services-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.services .services-content .services-group .services-1 {
  padding: 0 100px;
}
.services .services-content .services-group .services-1 img {
  width: 25px;
  margin-bottom: 15px;
}
.services .services-content .services-group .services-1 h3 {
  color: #eaccb3;
  font-size: 18px;
}

.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.general h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.general p {
  font-size: 16px;
  color: #414247;
  margin: 25px 0 45px 0;
}

.general-1 {
  width: 50%;
  padding: 100px 250px 100px 100px;
  background-color: #e1e2e6;
}

.general-2 {
  background-image: url(../img/food_png1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-3 {
  background-image: url(../img/food_png2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.blog {
  padding: 100px 0;
  text-align: center;
}
.blog h2 {
  font-size: 45px;
  color: #323337;
  margin-bottom: 15px;
}
.blog p {
  color: #323337;
}
.blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog .blog-content .blog-1 {
  padding: 15px 55px;
}
.blog .blog-content .blog-1 img {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.blog .blog-content .blog-1 h3 {
  font-size: 25px;
  color: #323337;
}

/*index responsive-----------------*/
@media (max-widtj: 768px) {
  .title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .sau {
    height: 100vh;
  }
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*productos responsive-----------------------------*/
@media (max-width: 768px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial !important;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  /*alt+126 para el signo ~*/
  #menu:checked ~ .navbar {
    display: initial;
  }
  /*header--------------------*/
  .header {
    min-height: 0vh;
  }
  .header .header-content {
    padding: 100px 30px;
  }
  .header .header-content p {
    padding: 0;
  }
  .header .food {
    padding: 30px;
  }
  .header .food .food_content {
    padding: 0;
  }
  .header .food .food_content .txt-p {
    padding: 0;
  }
  .header .food .food_content .food_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .services {
    padding: 30px;
  }
  .services .services_content p {
    padding: 0;
  }
  .services .services_content .services_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .services .services_content .services_group .services-1 {
    margin-bottom: 25px;
  }
  .general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general .general-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .general .general-2 .general-3 {
    display: none;
  }
}