/*index responsive-----------------*/
@media (max-widtj: 768px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height: 100vh;
    }
    .navbar{
        display:none;
    }
}